/* enbaling background printing */
body {
  -webkit-print-color-adjust: exact !important;

  font-size: 13px;
}

#main {
  text-align: left;
  /* display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-gap: 3px; */
  /* background-color: black; */
  /* border: black 3px solid; */
}

#main > div {
  /* display: inline-grid; */
  background-color: white;
  /* aspect-ratio: 1; */
  page-break-before: avoid;
  page-break-after: auto;
  page-break-inside: avoid;
  display: inline-flex;
  border: black 1px solid;
  /* max-width: 210px; */
  padding: 3px;
  height: 170px;
  width: 170px;
}

.kanji {
  font-size: 30px;
  padding-right: 3px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.readings {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
